@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.dirty {
    border-color: #5A5;
    background: #EFE;
}

.dirty:focus {
    outline-color: #8E8;
}

.error {
    border-color: red;
    background: #FDD;
}

.error:focus {
    outline-color: #F99;
}

.error-message {
  color: #f22;
}


textarea {
  min-width: 250px;
  padding: 20px;
}

.logo {
  max-width: 250px;
}
